<form asp-action="Index">
<!--Nghiem Thi Van Anh -2021050078-->
    <label>Full Name :</label><br>
    <input type="text" name="FullName" type="Enter FullName"><br>
    <label>EmployeeID:</label><br>
    <input type="text" name="EmployeeID" type="Enter EmployeeID "><br>
    <label>SoDienThoai:</label><br>
    <input type="text" name="SoDienThoai" type="Enter SoDienThoai"><br>
    <label>Address: </label><br>
    <input type="text" name="Address" type="Enter Address"><br>

    <br>
<!--Nghiem Thi Van Anh -2021050078-->
    <input type="submit" value="Save">

    <br>
</form>
<p>@ViewBag.KetQua</p>

<!--Nghiem Thi Van Anh -2021050078-->