<form asp-action="Index"> 
    <label>FullName: </label>
    <input type="text" name="fName" placeholder="Enter Full Name"/>
    <input type="email" name="email" placeholder="Enter Email"/>
    <input type="submit" value ="Save"/>
</form>
<h1>@ViewBag.ThongBao</h1>; 
