<form asp-action="Index">
    <label> Full Name</label>
    <input type="text" name="fuName" placeholder="Enter Full Name"/>
    <input type="email" name="Email" placeholder="Enter Email"/>
    <button type="submit">Save</button>
</form>
<h1>@ViewBag.Chay</h1>